*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
   
    
}
body{
    font-family: 'Shantell Sans', cursive;
    background-color: #000;
    

}
a{
    text-decoration: none;
}

.Padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
        .Header{
            background: url(../img/3h.jpg);
            background-position: center;
            background-attachment: contain;
            background-size: cover;
            display: flex;
            flex-flow: column nowrap;
    
        }
            .Menu{
                background: rgba(0, 0, 0, .3);
                display: flex;
                flex-flow: row nowrap;
                height: 60px;
                align-items: center;
                border-bottom: 1px solid rgb(255, 255, 255, .5);
                
            }
                .logo{
                  
                    flex: 1 1 auto;
                    font-size: 30px;
                }
                    .logo a{
                        color: #7608cf;     
                    }
                    .logo a:hover{
                        color: rgb(253, 251, 251);     
                    }
                .nav{
                  
                    flex: 1 1 auto;
                    
                }
                    .nav a {
                        color: #8a05f7;
                        font-size: 11px;
                        text-transform: uppercase;
                        padding: 0 10px;
                        letter-spacing: 5px;
                    }
                    .nav a:hover{
                        color: rgb(250, 246, 246);     
                    }
                
            .texto_principal{
                
                height: 500px;
                display: flex;
                align-items: center;
                
            }
                h1{
                    /* font-family:initial; */
                    color: #fcfafa;
                    font-size: 25px;
                    font-weight: 200px;
                    text-align: center;
                    line-height: 1.4;
                }
        .seccion{
        background: #070707;
        display: flex;
        
        }
            .articulos{
                /* background: #706c6c; */
                display: flex;
                flex: 2 1 auto;
                flex-flow: row wrap;
            }
                .articulo{
                    
                    flex: 1 1 30%;
                    color: #444;
                    font-size: 13px;
                    letter-spacing: 1px;
                    margin: 10px 10px 0 0px; 
                    flex: 1 1 35%;
                    background: #ececec;
                }
                .articulo img{
                    width: 100%;
                    height: 360px;
                    overflow: hidden;
                }
                .articulo a{
                    color: #fff;
                    font-size: 13px;
                    padding: 10px 10px;
                    background: #000;
                    margin: 10px 0;
                    display: inline-block;
                }
                .articulo a:hover{
                    background-color: #546cc3;
                }
                h2{
                    color: #050505;
                    font-size: 25px;
                    text-transform: uppercase;
                    padding: 0px 0 10px 0;
                    
                }

                .navegacion{
                    background: #d8d6e2;
                    flex: 1 1 100%;
                    margin: 10px 10px 0 0px;

                }
                .navegacion a {
                    color: #4e4c4c;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .navegacion a:hover{
                    color: #fff;
                }
            .publicity{
                /* background: #706c6c; */
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin: 10px 5px 5px 0;
            }
            .aside img{
                width: 50%;
                
            }
            h4{
               
                background: rgba(0, 0, 0, .4);
                color: #fff;
                font-size: 200%;
                padding: 60px;
                text-transform: uppercase;
            }
                
        .footer{
        background: #000;
        display: flex;
        justify-content: center;
        
        }
            .pie{
                /* background: #635985; */
                display: flex;
                justify-content: center;
                flex: 1 1 100%;
                margin: 20px 10px 0 0px;
            }
            .pie a {
                
                background: rgba(132, 45, 139, 0.3);
                display: flex;
                flex-flow: row nowrap;
                border-bottom: 1px solid rgba(177, 170, 170, 0.5);
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 5px;
                letter-spacing: 1px;
            }
            .pie img{
                width: 30%;
                display: flex;
                justify-content: center;
            }

@media all and (max-width: 1002px){
    .seccion{
        flex-direction:column;
    }
    .Menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 15px;
    }
    .texto_principal{
        height: 450px;

    }
}
@media all and (max-width: 762px){
    .articulos{
        flex-direction: column;

    }
}
@media all and (max-width: 650px){
    .off{display: none;}
    .nav a{font-size: 20px;}
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}